.App {
  display: grid;
}

.item-container {
  display: grid;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: center;
}

.item {
  display: grid;
  padding: 10px;
  border: 1px rebeccapurple solid;
  margin: 10px 0;
  background: rgba(100, 100, 180, 0.6);
  grid-gap: 20px;
  grid-template-columns: 150px 1fr;
}

.item-picture {
  width: 100%;
}

.login {
  display: grid;
  background: rgba(255, 255, 255, 0.6);
  grid-template-columns: minmax(500px, 1fr) 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.login-form {
  display: grid;
  background: rgba(255, 255, 255, 0.8);
  grid-template-columns: minmax(150px, 300px);
  grid-gap: 10px;
  padding: 50px;
  border: 1px solid black;
}

.login-image {
  grid-row: span 2;
}

.Oauth-providers {
  display: grid;
  background: rgba(255, 255, 255, 0.8);
  grid-gap: 10px;
  padding: 60px;
  border: 1px solid black;
}
