body {
  background: url('./topography.svg'), linear-gradient(110deg, #f93d66, #6d47d9);
}

/* .App {
  display: grid;
}

.item-container {
  display: grid;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: center;
}

.item {
  display: grid;
  padding: 10px;
  border: 1px rebeccapurple solid;
  margin: 10px 0;
  background: rgba(100, 100, 180, 0.6);
  grid-gap: 20px;
  grid-template-columns: 150px 1fr;
}

.item-picture {
  width: 100%;
}

.item-detail {
  background-color: whitesmoke;
  min-width: 500px;
  text-align: center;
}

.item-detail .item-picture {
  max-width: 150px;
}

.item-detail .item-picture img {
  width: 100%;
}

.login {
  display: grid;
  background: rgba(255, 255, 255, 0.6);
  grid-template-columns: minmax(500px, 1fr) 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.login-form {
  display: grid;
  background: rgba(255, 255, 255, 0.8);
  grid-template-columns: minmax(150px, 300px);
  grid-gap: 10px;
  padding: 50px;
  border: 1px solid black;
}

.login-image {
  grid-row: span 2;
}

.Oauth-providers {
  display: grid;
  background: rgba(255, 255, 255, 0.8);
  grid-gap: 10px;
  padding: 60px;
  border: 1px solid black;
}

#modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
} */
